a {
  text-decoration: none;
}

.item-products-list {
  margin: 20px;
}
.box-products-list {
  width: 270px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: auto;
}

.container-products-list {
  display: grid;
  background-color: #ebdede;
  padding: 50px;
}

@media (min-width: 768px) {
  .container-products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .container-products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .container-products-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.slide-img-products-list {
  height: 300px;
  position: relative;
}

.slide-img-products-list .img1-products-list {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.detail-box-products-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #e7e2e2;
}

.type-products-list {
  display: flex;
  flex-direction: column;
}

.type-products-list a {
  color: #222222;
  margin: 5px 0px;
  letter-spacing: 0.5px;
  padding-right: 8px;
}

.text span {
  color: rgba(26, 26, 26, 0.5);
}

.price-products-list {
  color: #6cb336;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.overlay-products-list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 51, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-btn-products-list {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.buy-btn-products-list:hover {
  color: #ffffff;
  background-color: #e2335f;
  transition: all ease 0.3;
}

.overlay-products-list {
  visibility: hidden;
}
.slide-img-products-list:hover .overlay-products-list {
  visibility: visible;
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.products-list-cart {
  border: none;
  cursor: pointer;
  width: 50%;
  color: #e2335f;
  margin: 10px;
  font-size: 25px;

  border-radius: 50px;
}
.products-list-cart:hover {
  background-color: #2c2b2b;
}

.products-list-buy {
  background-color: #17a000;
  border: none;
  cursor: pointer;
  width: 90%;
  color: #ffffff;
  font-weight: bold;
  border-radius: 2px;
  margin: 10px;
  padding: 15px;
}
.products-list-buy:hover {
  background-color: #307025;
}
